<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Picture Unveiling Evening - Event Managment</h1>

  <ul>
    <li><a href='/todo'>Todo list</a></li>
    <li><a href='/schedule'>Event schedule</a></li>
    <li><a href='/rsvps'>RSVPs</a></li>
  </ul>

</body>
</html>