<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Invites</h1>

  <h2>Attendees (25)</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h2>Apologies (22)</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>


</body>
</html>