<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <tr>
      <td>8pm</td>
      <td>Doors open</td>
    </tr>
    <!-- etc. etc. -->
  </table>

</body>
</html>